@import "./reset";

* {
  box-sizing: border-box;
}

body {
  color: #333333;
}

@media screen and (min-width: 767px) { /*ウィンドウ幅が767px以上の場合に適用*/
  .heading {
    height: 64px;
    background: rgba(255, 255, 255, 0.65);
    ul {
      width: 767px;
      margin: 0 auto;
      text-align: center;
      display: flex;
      justify-content: flex-end;
      li {
        width: 80px;
        line-height: 64px;
        margin: 0 8px;
      }
    }
  }
}

@media screen and (max-width: 767px) { /*ウィンドウ幅が最大767pxまでの場合に適用*/
  .heading {
    height: 64px;
    background: rgba(255, 255, 255, 0.65);
    ul {
      margin: 0 auto;
      text-align: center;
      display: flex;
      justify-content: flex-end;
      li {
        width: 80px;
        line-height: 64px;
      }
    }
  }
}

@media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
  .heading {
    height: 64px;
    background: rgba(255, 255, 255, 0.65);
    ul {
      margin: 0 auto;
      text-align: center;
      display: flex;
      justify-content: flex-end;
      li {
        width: 80px;
        line-height: 64px;
      }
    }
  }
}
