@import "./reset";
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

* {
  box-sizing: border-box;
}

body {
  color: #333333;
}

// .ef {
//   opacity: 0;
// }

.heading {
  height: 64px;
  width: 100vw;
  background: rgba(255, 255, 255, 0.65);
  position: fixed;
  z-index: 2;
  ul {
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    li {
      width: 80px;
      line-height: 64px;
      margin: 0 8px;
    }
  }
}
.content {
  padding: 80px 0 0 0;
  height: 500vh;
  .portfolio {
    height: 712px;
    .title {
      text-align: center;
      font-size: 85px;
      font-weight: bold;
      height: 100%;
      padding: 128px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      letter-spacing: 0.1em;
      h1 {
        font-family: 'Noto Serif JP', sans-serif;
        font-weight: bold;
      }
    }
    .about {
      display: flex;
      margin: 0 auto;
      width: 880px;
      .about-image  {
        width: 36%;
        font-size: 40px;
      }
      .introduction {
        width: 64%;
        h2 {
          font-size: 20px;
          border-bottom: 1px solid #333333;
        }
      }
    }
  }
}


@media screen and (min-width: 767px) { /*ウィンドウ幅が767px以上の場合に適用*/
  .heading {
    ul {
      width: 767px;
    }
  }
}

@media screen and (max-width: 767px) { /*ウィンドウ幅が最大767pxまでの場合に適用*/
  .content {
    .portfolio {
      height: 640px;
      .title {
        padding: 96px 0;
        font-size: 70px;
      }
    }
  }
}

@media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
  .content {
    .portfolio {
      height: 600px;
      .title {
        padding: 80px 0;
        font-size: 60px;
      }
    }
  }
}
